// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark-body: #121212;

// Custom Colors
$alert: #ffd886;
$success: #86c148;
$bg-color: #ff8d9f;

// Font Rules
$font-color: #5b578f;
$font-stack: Georgia, Times, Times New Roman, serif;
$font-sizeDefault: 1rem;
$font-shadow: 0 0 3px rgba(101, 101, 101, 0.4);

// Activate if have Custom Font to add

// $font-path: './path/to/font/';
// $font-custName: "Anything Type here";
// $font-name: $font-custName, Courier New;
//
// @font-face { font-family: $font-custName; font-weight: normal; src: url("#{$font-path}clacon.ttf"); }
