// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark-body: #121212;

// Custom Colors
$spanAlert: #e4c921;
$success: #86c148;
$font-color: #dfffa8;
$bg-color: #ff7597;

// Font Rules

$fontFam: Console;
$sizeDefault: 1rem;
